<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Resultado consulta: </h1>
    <% anuncios.forEach( anuncio => { %>
    <p> -------------------------------------------------------------------------------</p>
        <h2><%= anuncio.nombre %></h2>
        <p><% if (anuncio.venta) { %>
        En venta</p>
    <% } else { %>
    <p> En búsqueda </p>
    <% } %>
        <p><%= anuncio.precio %>€</p>
    <img src="../../images/<%=anuncio.foto%>" height="20%" width="20%">
    <p><%= anuncio.tags %></p>
  <% }) %>
    <p> -------------------------------------------------------------------------------</p>
  </body>
</html>
